{% extends "accounts/index.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Pega Visão</title>
    <link rel="shortcut icon" href="/images/icone.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header_home">
        <nav class="navegacao">
            <div class="header_direita">
                <a class="logo_header" href="#"><img src="./images/logo_pega_visao.jpg" alt="Logo Clínica Pega Visão"></a>
                <a href="./sobre.html">Sobre</a>
                <!--<a href="./medicos.html">Médicos</a> -->
                <a href="">Serviços</a>
                <a href="">Contato</a>
            </div>
                <a class="login" href="./EntreAqui/login.html">ENTRE AQUI</a>
        </nav>
    </header>
    <main>
        <img class="banner_home" src="./images/banner_home2.png" alt="Banner Bem-vindo á Clínica Pega Visão">
        
        <article class="atendimento_oftalmo">
            <h2 class="titulo_atendimento">Atendimento Oftalmológico</h1>
            <p class="texto_atendimento">Nossa experiência e comprometimento profissional aliados a uma ampla área de diagnósticos, procedimentos cirúrgicos e serviços especializados, garantem a cobertura ideal para qualquer tipo de tratamento de saúde ocular.
            </p>
            <div class="cards">
                <div class="card">
                    <img src="./images/catarata.jpg" alt="Catarata">
                    <p>Catarata</p>
                </div>
                <div class="card">
                    <img src="./images/ceratocone.jpg" alt="Ceratocone">
                    <p>Ceratocone</p>
                </div>
                <div class="card">
                    <img src="./images/cirurgia_refrativa.jpg" alt="Cirurgia Refrativa">
                    <p>Cirurgia Refrativa</p>
                </div>
                <div class="card">
                    <img src="./images/cornea_e_conjutiva.jpg" alt="Cornea e Conjutiva">
                    <p>Cornea e Conjutiva</p>
                </div>
                <div class="card">
                    <img src="./images/glaucoma.jpg" alt="Glaucoma">
                    <p>Glaucoma</p>
                </div>
                
            </div>
            <div class="cards">
                <div class="card">
                    <img src="./images/lente_de_contato.jpg" alt="Lente De Contato">
                    <p>Lente De Contato</p>
                </div>
                <div class="card">
                    <img src="./images/lente_intraocular_premium.jpg" alt="Lente Intraocular Premium">
                    <p>Lente Intraocular</p>
                </div>
                <div class="card">
                    <img src="./images/oftalmologia_geral.jpg" alt="Oftalmologia Geral">
                    <p>Oftalmologia Geral</p>
                </div>
                <div class="card">
                    <img src="./images/oftalmopediatria.jpg" alt="Oftalmopediatria">
                    <p>Oftalmopediatria</p>
                </div>
                <div class="card">
                    <img src="./images/plastica_ocular.jpg" alt="Plastica Ocular">
                    <p>Plastica Ocular</p>
                </div>
            </div>
        </article>
        <section class="whatsapp">
            <div class="card_whatsapp">
                <div class="icone_card">
                    <img class="icone_real" src="./images/icone_contato.svg" alt="Icone Contato">
                </div>
             <div class="texto_card">
                    <h2>Consulta com Oftalmologista?</h2>
                    <p>Caso necessite de atendimento oftalmológico em SP, clique e converse diretamente com nossa equipe no WhatsApp: <br> <br> Segunda a sexta: 18:30 - 22:40 <br> <br> Consultas somente com hora marcada <br> Atendimento durante horário de aula</p>
             </div>
            </div>
        </section>
        <footer class="footer-main" id="footer-op">
            <div class="footer-primary">
                <div class="fut">
                    <h4 class="footer-h4">Nosso Endereço:</h4>
                    <p class="p-fut">av.sapopemba, 624 - São Mateus, São Paulo - SP, 04027-000 </p>
                    <p class="p-fut">CNPJ:12.345.678/0001-00</p>
                    <img src="./image/img-pegavisao.png" alt="">
                </div>
                <div class="fut">
                    <h4 class="footer-h4">Contatos:</h4>
                    <p class="p-fut">E-mail: cpv@pegavisao.com.br</p>
                    <p class="p-fut">TEL: (00) 0000-0000</p>
                    <p class="p-fut">Fale conosco</p>
                    <p class="p-fut">WhatsApp: (00) 00000-0000</p>

                </div>
                <div class="fut">
                    <h4 class="footer-h4">Serviços On-line:</h4>
                    <p class="p-fut">Retire seus Exames</p>
                    <p class="p-fut">Área do Médico </p>
                    <p class="p-fut">Agende sua Consulta</p>
                    <p class="p-fut">CPV In Company</p>
                </div>
                <div class="fut">
                    <h4 class="footer-h4">Redes Sociais</h4>
                    <p class="p-redes-sociais">
                        <img src="./image/face.png" alt="">
                        <img src="./image/instagram.png" alt="">
                    </p>
                    <p class="p-fut">Politica de Privacidade</p>
                    <p class="p-fut">Declaração de Cookies</p>
                </div>
            </div>
            <div class="footer-second">
                <p>© 2024 - Clínica Pega Visão - Todos os direitos reservados - Desenvolvido por Enzo, Fabio e
                    Leandro</p>
            </div>
        </footer>
    </main>
</body>
</html>