{% extends "accounts/index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="med.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>

        <div class="container">

            <section>
                <ul>
                    <li class="intrologin">
                        <h1>BEM VINDO</h1>
                        <p><img class="intrologo" src="./img/logo pega visão.png" alt=""></p>
                    </li>
                </ul>
        
                <ul class="usulogin">
                    <li>
                        <h1>USUÁRIO</h1>
                        <input class="ralog" type="number" placeholder="DIGITE SEU CRM">
                    </li>
                </ul>
        
                <ul class="senha">
                    <li>
                        <h1>SENHA</h1>
                        <input class="ralog" type="password" placeholder="DIGITE SUA SENHA">
                    </li>
                </ul>
        
                <ul class="entrar">
                    <li>
                        <button class="botao"><a href="">ENTRAR</a></button>
                    </li>
                </ul>





            </section>








        </div>







    </main>
</body>
</html>